<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <title>h e l l o | z a h r a</title>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p id="formTitle">hi! what's poppin?</p>
                <form action="/" method = 'POST' class="topform">
                    {% csrf_token %} 
                    <div class="form-row">
                        <div class="form-group col-sm-12">  
                            <div class="textfield" id= "textBox">
                                    {% for fields in form %}
                                    {{ fields }}
                                    {% endfor %}
                            </div>             
                            
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="submit" class="btn btn-add btn-warning" value="Submit" id="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <br><br><br>
                        <p id="namanya">mood list</p>
                        <!-- <p>  -->
                            <div id="resp" style=" overflow-y: scroll;">
                                <!-- <table> -->
                                        {% for statusnye in statusnye %}
                                        <div id="response">
                                            <h1 class="thestatus"> {{ statusnye.status }}</h1>
                                            <h1 class="statustime">{{ statusnye.time }}</h1>
                                            </div> 
                                        {% endfor %}
                                    <!-- </table>   -->
                                </div>
                </div>
            </div>
        </div>
    </div>
        

</body>