html {
    scroll-behavior: smooth;
    cursor: url('/static/cursor.png'), auto;
}

body {
    background-repeat: no-repeat;
    background-color: #F7ECDF;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}



#formTitle {
    font-family: Yeseva One;
    font-size: 72px;
    color: #EF972E;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#submit{
    border-radius: 20px; 
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    color: white;
}

#textBox{
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#namanya {
    font-family: Yeseva One;
    font-size: 52px;
    color: #EF972E;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
div#resp {
    max-height: 300px;
    overflow-y: scroll;
}
div#response {
    background-color: #EF972E;
    margin-bottom: 20px;
    color: antiquewhite;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    border-radius: 30px;
}

div#response h1{
    font-size: 20px;
    font-family: Raleway;
}